<section>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form lang="ar" dir="rtl">
            <!--  Email Row -->
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="example@email.com"
                    required
                  />
                </div>
              </div>
            </div>
            <!--  Email Row -->
            <!--  Password Row -->
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="ادخل كلمة المرور"
                    required
                  />
                </div>
              </div>
            </div>
            <!--  Password Row -->
            <div class="row">
              <div class="col-12 mb-3">
                <button type="submit" class="btn btn-success mt-4">
                  تسجيل الدخول
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  