<div class="container">
  <form
    lang="ar"
    dir="rtl"
    [formGroup]="LoginForm"
    (ngSubmit)="onLogin()"
    >
    <p class="text-body text-center">تســجيل الدخول</p>
    <div class="row">
      <div class="form-group">
        <input
          formControlName="Email"
          type="text"
          class="form-control"
          name="Email"
          placeholder="example@email.com"
          required
        />
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="ادخل كلمة المرور"
          required
          formControlName="Password"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group text-center mt-3">
        <button type="submit" class="btn btn-outline-success btn-sm">
          تسجيل الدخول
        </button>
      </div>
    </div>
    <hr />
    <div class="form-group text-center">
      <button
        type="button"
        class="btn btn-outline-danger btn-sm"
        (click)="onGoogleLogin()"
      >
        Log in with Google
      </button>
    </div>
  </form>
</div>
